<section id="professional" class="about-area ptb-150 bg-main-color">
    <div class="container">
        <div class="section-title">
            <h2>About Me</h2>
            <div class="back-text">
                Profession
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image js-tilt"
                    style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg);">
                    <img src="assets/images/man-2.png" alt="image">
                    <img src="assets/images/shape.png" class="shape-image wow zoomIn" data-wow-delay="0.5s" alt="image"
                        style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
                    <div class="js-tilt-glare"
                        style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                        <div class="js-tilt-glare-inner"
                            style="position: absolute; top: 50%; left: 50%; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 1080px; height: 1080px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h3>Experience</h3>
                    <ul class="experience-list">
                        <li>
                            <span>2012</span>
                            Completed gradution studies at Sant Gadge baba Amravati University
                        </li>
                        <li>
                            <span>2008</span>
                            Completed High school education at Amravati Board
                        </li>
                        <li>
                            <span>2006</span>
                            Completed Secondary school education at Amarvati Board
                        </li>
                    </ul>
                    <h3>Skills</h3>
                    <div class="skills-list">
                        <div class="skill-item">
                            <div class="skill-header">
                                <h4 class="skill-title">Web Development</h4>
                                <div class="skill-percentage">
                                    <div class="count-box counted"><span class="count-text" data-speed="2000"
                                            data-stop="90">90</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="90" style="width: 90%;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-header">
                                <h4 class="skill-title">Web Design</h4>
                                <div class="skill-percentage">
                                    <div class="count-box counted"><span class="count-text" data-speed="2000"
                                            data-stop="40">40</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="40" style="width: 40%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>