<div class="main-banner bg-main-color">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-12">
                        <div class="main-banner-content">
                            <span>Hello, my name is <b>Sanket Wankhade</b></span>
                            <div class="title">
                                <h5>I am a</h5>
                                <h1>UI Developer</h1>
                            </div>
                            <p>Creating modern and responsive UI for Web and Mobile.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="banner-image">
                            <img src="assets/images/man-1.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>