<section id="personal" class="services-area ptb-150 bg-black-color">
    <div class="container">
        <div class="section-title">
            <h2>About Me</h2>
            <div class="back-text">
                professional
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6" *ngFor="let pro of PortFolioData">
                <div class="single-services-box bg-gray-dark">
                    <div class="icon">
                        <i>{{pro.durationFrom}}<br> To  <br>{{pro.durationTo}}</i>
                    </div>
                    <h3>​{{pro.companyName}}<br>
                        <span class="">{{pro.profile}}</span>
                    </h3>
                    <div [innerHtml]="pro.description"></div>
                   
                </div>
            </div>
        </div>
    </div>
</section>