<section id="personal" class="services-area ptb-150 bg-black-color">
    <div class="container">
        <div class="section-title">
            <h2>About Me</h2>
            <div class="back-text">
                Personal
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-services-box bg-gray-dark">
                    <div class="icon">
                        <i>Mar 2020 <br> To <br> Present</i>
                    </div>
                    <h3>​TrueFill Inc.<br>
                        <span class="">UI Developer</span>
                    </h3>
                    <p> <strong>ERP Product of TrueFill Inc.</strong> <br>
                        This project involves an ERP system functionalities. This project having the following modules
                        Frontend web application,
                        Quote Module, Billing Module, Delivery module, Project Module, Inventory Module, Buyer Module,
                        Supplier module, Carrier
                        Module, and other Integrations like Google signup.<br>
                        Tools/Technology: Dot Net MVC, SQL Server, MongoDB, Angular 8, Bootstrap4, Bootstrap 3,
                        Jquery.<br>
                        ▪ Discussed, analyzed, and strategized product design with the Core team and Client
                        representatives.<br>
                        ▪ Developed front-end web client UI using HTM5/CSS/Angular/ Bootstrap/Jquery</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-services-box bg-gray-dark">
                    <div class="icon">
                        <i>June 2019 <br> To <br> Feb 2020</i>
                    </div>
                    <h3>​Debugee Technologies Pvt. Ltd.
                        <br>
                        <span class="">​UI Developer</span>
                    </h3>
                    <p><strong>ERP project for ‘1 Hat Technologies ’</strong><br>
                        This project involves an ERP system functionalities. This project having the following modules
                        Frontend web application,
                        Quote Module, Billing Module, Timesheet module, Project Module, Inventory Module, and other
                        Integrations like Google
                        signup.<br>
                        Tools/Technology: NodeJS, MongoDB, Angular 8, Angular Material Design, Angular Flex.<br>
                        ▪ Discussed, analyzed, and strategized product design with the Core team and Client
                        representatives.<br>
                        ▪ Developed front-end web client UI using HTM5/SCSS/Angular Material/Angular Flex.<br>
                        ▪ Developed an administration app using HTM5/SCSS/Angular Material/Angular Flex.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-services-box bg-gray-dark">
                    <div class="icon">
                        <i>Feb 2015 <br> To <br> May 2019</i>
                    </div>
                    <h3>​Nplus1 Technologies Pvt. Ltd.
                        <br>
                        <span class="">​​Co-founder & Head, Business Planning,</span></h3>
                    <p><strong>project for ‘Wallskin - A business venture of Green Apple
                            Design Pvt. Ltd. ’</strong><br>
                        This project involves the e-commerce concept for wallpapers. Also, have a web portal and mobile
                        app to showcase
                        products. This project having the following modules Frontend web application, Order management
                        system(OMS), Staging
                        Module, Seller / Merchant module, Delivery module.<br>
                        Tools/Technology: Java 9, Spring 4.x (Boot, Data, Security), Hibernate 4.x, Flyway, JBoss,
                        Jasper Reports 6.x, MySQL
                        5.7.x, AngularJs 1.x, Materialize 1.x.<br>
                        ▪ Discussed, analyzed, and strategized product design with Core team and Client
                        representatives.<br>
                        ▪ Developed frontend web client UI using HTML5/CSS/Materialize/JQuery.<br>
                        ▪ Developed administration app using AngularJS/Angular-Bootstrap/HTML5/CSS/JQuery.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-services-box bg-gray-dark">
                    <div class="icon">
                        <i>Oct 2013 <br> To <br> May 2014</i>
                    </div>
                    <h3>​Mastiff Solution Pvt. Ltd.
                        <br>
                        <span class="">​​Software Web Developer</span></h3>
                    <p><strong>Data management system(DMS)</strong><br>
                        This project involves implementation for maintaining old-documents of the Amravati government
                        collector office. It allows
                        maintaining old records (files) in the form of scanned documents to our application in roles and
                        rights manner.<br>
                        Tools/Technology: Apache server, PHP, CodeIgniter 2.x., iText, Mysql, JQuery, Javascript, CSS3,
                        HTML5.<br>
                        ▪ Performing requirements analysis, design, service, and technology sourcing, and production
                        with PHP.<br>
                        ▪ Developed web application using PHP/HTML5/CSS/Bootstrap. Developed several reports using
                        iText. Maintained
                        sole-ownership of module-integration.</p>
                </div>
            </div>
        </div>
    </div>
</section>